docker-pycreds==0.4.0
PyYAML==6.0.2
setproctitle==1.3.5
fsspec==2024.2.0
propcache==0.3.0
setuptools==75.8.0
oauthlib==3.2.2
filelock==3.13.1
safetensors==0.5.3
MarkupSafe==3.0.2
idna==3.10
Pillow==9.4.0
gmpy2==2.2.1
tiktoken==0.9.0
tensorboard==2.15.1
aiohappyeyeballs==2.6.1
smmap==5.0.2
annotated-types==0.7.0
cachetools==5.5.2
click==8.1.8
google-auth-oauthlib==1.2.1
certifi==2025.1.31
pydantic_core==2.27.2
aiosignal==1.3.2
protobuf==4.23.4
six==1.17.0
pyasn1_modules==0.4.1
Markdown==3.7
platformdirs==4.3.6
xxhash==3.5.0
tokenizers==0.19.1
tzdata==2025.1
wandb==0.19.8
urllib3==2.3.0
regex==2024.11.6
networkx==3.4.2
psutil==7.0.0
pyarrow==19.0.1
packaging==24.2
appdirs==1.4.4
torch==2.3.1
torchaudio==2.3.1
multiprocess==0.70.16
Werkzeug==3.1.3
multidict==6.2.0
absl-py==2.1.0
pyarrow-hotfix==0.6
gitdb==4.0.12
sympy==1.13.3
tqdm==4.66.2
python-dateutil==2.9.0.post0
huggingface-hub==0.29.3
transformers==4.40.2
Jinja2==3.1.6
wheel==0.45.1
requests-oauthlib==2.0.0
numpy==1.24.3
pytz==2025.1
sentry-sdk==2.23.1
pip==25.0
rsa==4.9
mkl_fft==1.3.11
mkl-service==2.4.0
mpmath==1.3.0
typing_extensions==4.12.2
pydantic==2.10.6
charset-normalizer==3.4.1
accelerate==0.30.0
google-auth==2.38.0
triton==2.3.1
pandas==2.2.3
yarl==1.18.3
GitPython==3.1.44
pyasn1==0.6.1
frozenlist==1.5.0
aiohttp==3.11.14
requests==2.32.3
dill==0.3.8
attrs==25.3.0
datasets==2.18.0
tensorboard-data-server==0.7.2
mkl_random==1.2.8
grpcio==1.71.0
